{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Service Details </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{% static 'css/main.css' %}" rel="stylesheet">

  
</head>

<body class="service-details-page">

  <header id="header" class="header dark-background d-flex flex-column">
    <i class="header-toggle d-xl-none bi bi-list"></i>

    <div class="profile-img">
      <img src="{% static 'img/sani2.jpg' %}" alt="" class="img-fluid rounded-circle">
    </div>

    <a href="index.html" class="logo d-flex align-items-center justify-content-center">

      <h1 class="sitename">Sani Yadav</h1>
    </a>

    <div class="social-links text-center">
      <a href="#" class="twitter"><i class="bi bi-twitter-x"></i></a>
      <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
      <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
      <a href="#" class="google-plus"><i class="bi bi-skype"></i></a>
      <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
    </div>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="#about"><i class="bi bi-person navicon"></i> About</a></li>
        <li><a href="#resume"><i class="bi bi-file-earmark-text navicon"></i> Resume</a></li>
        <li><a href="#portfolio"><i class="bi bi-images navicon"></i> Portfolio</a></li>
        <li><a href="#services"><i class="bi bi-hdd-stack navicon"></i> Services</a></li>
        <li class="dropdown"><a href="#"><i class="bi bi-menu-button navicon"></i> <span>Dropdown</span> <i
              class="bi bi-chevron-down toggle-dropdown"></i></a>
          <ul>
            <li><a href="#">Dropdown 1</a></li>
            <li class="dropdown"><a href="#"><span>Deep Dropdown</span> <i
                  class="bi bi-chevron-down toggle-dropdown"></i></a>
              <ul>
                <li><a href="#">Deep Dropdown 1</a></li>
                <li><a href="#">Deep Dropdown 2</a></li>
                <li><a href="#">Deep Dropdown 3</a></li>
                <li><a href="#">Deep Dropdown 4</a></li>
                <li><a href="#">Deep Dropdown 5</a></li>
              </ul>
            </li>
            <li><a href="#">Dropdown 2</a></li>
            <li><a href="#">Dropdown 3</a></li>
            <li><a href="#">Dropdown 4</a></li>
          </ul>
        </li>
        <li><a href="#contact"><i class="bi bi-envelope navicon"></i> Contact</a></li>
      </ul>
    </nav>

  </header>

  <main class="main">

    <!-- Page Title -->
    <div class="page-title dark-background">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Service Details</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li class="current">Service Details</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- Service Details Section -->
    <section id="service-details" class="service-details section">

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="services-list">
              <a href="#" class="active">Web Development </a>
              <a href="#">Backend Development</a>
              <a href="#">Frontend Development</a>
              <a href="#">Custom Software Solutions</a>
              <a href="#">Database Management</a>
              <a href="#"> Version Control & Collaboration</a>

            </div>

            <h4>Delivering Excellence Through Innovation</h4>
            <p> Dedicated to delivering top-notch solutions tailored to client needs. With a strong focus on innovation and quality, I aim to create impactful and user-friendly web applications that exceed expectations.</p>
          </div>

          <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">
            <img src="{% static 'img/services.jpg' %}" alt="" class="img-fluid services-img" loading="lazy">
            <h3>End-to-End Web and Software Development</h3>
            <p>
              Specializing in designing and developing complete web and software solutions, from user-friendly frontends to robust backends, with seamless integration of databases, APIs, and advanced technologies for delivering scalable and efficient applications.
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> <span>Providing custom web and software development solutions tailored to your business needs.</span></li>
              <li><i class="bi bi-check-circle"></i> <span>Expert in creating dynamic websites, robust backend systems, and user-friendly interfaces.</span>
              </li>
              <li><i class="bi bi-check-circle"></i> <span>Committed to delivering high-quality, scalable, and secure digital solutions for your growth.</span></li>
            </p>
            <p>
              Delivering innovative solutions with precision and excellence. Empowering businesses through modern technologies and ensuring unmatched quality in every project.
            </p>
            <p>
              Focused on delivering seamless and efficient solutions, we tackle complex challenges with expertise and innovation. Our team is dedicated to ensuring the highest standards of service, providing businesses with sustainable and scalable outcomes.
            </p>
          </div>

        </div>

      </div>

    </section><!-- /Service Details Section -->

  </main>

  <footer id="footer" class="footer position-relative light-background">

    <div class="container">
      <div class="copyright text-center ">
        <p>© <span>2025 Sani Yadav |</span> <strong class="px-1 sitename">Full-Stack Developer |</strong> <span>All
            Rights Reserved</span>
        </p>
      </div>
      <div class="credits">

        <p class="mb-0">Designed and Developed by Sani Yadav</p>

        <!-- Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> Distributed by <a
          href="https://themewagon.com">ThemeWagon</a> -->
      </div>
    </div>

  </footer>




  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}" defer></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}" defer></script>
  <script src="{% static 'vendor/aos/aos.js' %}" defer></script>
  <script src="{% static 'vendor/typed.js/typed.umd.js' %}" defer></script>
  <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}" defer></script>
  <script src="{% static 'vendor/waypoints/noframework.waypoints.js' %}" defer></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}" defer></script>
  <script src="{% static 'vendor/imagesloaded/imagesloaded.pkgd.min.js' %}" defer></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}" defer></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}" defer></script>

  <!-- Main JS File -->
  <script src="{% static 'js/main.js' %}" defer></script>

</body>

</html>